<h2>Mission</h2>

<p>The mission of Needham Circle is to bring people together, coordinate events across town, partner with local organizations, and serve as a central hub for community-building.</p>

<h2> What we do</h2>

<p>Our charge is to improve awareness of existing community resources and events, spearhead new and accessible ways to gather, and ultimately increase Needham residents' sense of belonging. We've started with a Community Calendar and a Community Resource Page to help inform folks about goings-on around town. With the help of our Core Committee we intend to create new and multiple opportunities to connect to one another — anything from a large-scale movie night or Porchfest to informal gatherings on the Common and in other public spaces (think bring the book you're reading these days and a chair/blanket to read together at 11am at XYZ location.).</p>

<p>Our larger vision is that Needham becomes the sort of town where these things are consistently true: events are more meaningful, public spaces are more alive, and our community is more connected. <strong>Won't you join us?</strong></p>

<aside><p>Needham Circle is comprised of a growing number of volunteers and is open to all. NC was co-founded in 2026 by Dina Creiger and Avery Newton, two active community volunteers eager to build a more connected Needham. We can be reached at needhamcircle (at) gmail (dot) com.</p></aside>

<h2>Our logo</h2>

<p>It's a circle! But more importantly it's a circle of connected individuals in community with one another. It is loosely modeled after the sculpture of children that features prominently on Needham's Town Common.</p>
